
body {
 margin: 0;
background-color:hsl(30, 38%, 92%);
 padding: 20%;
  }



img {
    border-radius: 2% 0% 0% 2%;

 }


h1 {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 60px;
    margin: 30px auto;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 45px;
    color: hsl(228, 12%, 48%);
  
}

 .attribution { 
    background-color: hsl(140, 96%, 11%);
    color: white;
    font-size: 11px; text-align: center; 
    padding: 50px;
    margin: 50px auto;
}
 .attribution a { color: orange}

 .btn {
    background-color: hsl(158, 36%, 37%);
    font-size: 25px;
    border-radius: 12px;
    height: 75px;

 }

 .btn:hover {
    background-color:  hsl(140, 96%, 11%);
 } 

.cart-icon {
  width: 30px;
  margin: 10px;
    }
 .container {
    background-color: white;
    display: flex;
    gap: 50px;
    align-items: center;
    width: 1440px;
    margin: auto;
    border-radius: 2%;
    padding: 0;
 }

.perfume {
    letter-spacing: 0.7rem;
    font-size: 20px;
    margin: 30px auto;
}

.new-price {
    color: hsl(158, 36%, 37%);
}

.price-div {
    margin-right: 60px;
}

.price {
    display: flex;
    
    align-items: center;
    gap: 20px;
}

.discount-price {
 text-decoration: line-through;

 
}



@media (max-width: 780px) {
    .container {
    display: flex;
    flex-direction: column;
    flex: wrap;
    width: 375px;
    position: relative;
    gap: 0;


    }


    body {
        padding: auto 20px;
    }

.price-div {
    padding: 20px;
    margin: auto;
}
 
.perfume-image {
    border-radius: 2% 2% 0 0;
    width: 375px;
    height: 300px;
    object-fit: cover;
}

h1 {
    font-size: 35px;
}

p {
    font-size: 16px;
    line-height: 30px;
}

.perfume {
    margin: 5px auto
}


.attribution {padding: 5px}


}